.text-wrapper{
 overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ck.ck-editor {
    position: relative;
    width: 100% !important;
    padding-left: 15px !important;
      padding-right: 15px !important;
}

.previewImage{
    margin-top: 10px;
      width: 280px;
      height: 160px;
      border: 2px solid;
}
.previewImage img{
  width: 100%;
    height: 100%;
}

.category_font{
  font-size: 17px;
}


.logo-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
